.link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: #2a363b;
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 12px;
  padding: 0px;
}

.activeLink {
  color: #08007a;
  padding: 10px;
}
