.form {
  align-items: center;
  background-color: #ffffffa9;
  border: 3px solid blue;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 300px;
}

label {
  margin-bottom: 30px;
  color: blue;
}

label:last-child {
  margin-bottom: 0px;
}

.inputName {
  margin-left: 15px;
  height: 20px;
  border: 2px solid blue;
  border-radius: 50px;
  outline: transparent;
}

.inputName:hover,
.inputName:focus,
.inputName:active {
  border: 2px solid gold;
}

.inputNumber {
  margin-left: 10px;
  height: 20px;
}

.buttonEditor {
  border: transparent;
  border-radius: 30px;
  height: 30px;
  width: 100px;
  color: blue;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.buttonEditor:hover,
.buttonEditor:focus {
  color: white;
  background-color: blue;
  border-color: blue;
}

.title {
  color: #fff;
}
