.form {
  align-items: center;
  background-color: #3e6496;
  border: 3px solid #000;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px;
  width: 300px;
}

label {
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

label:last-child {
  margin-bottom: 0px;
}

.inputName {
  margin-left: 15px;
  height: 20px;
}
.inputNumber {
  margin-left: 10px;
  height: 20px;
}

.buttonEditor {
  border: transparent;
  border-radius: inherit;
  height: 30px;
  width: 100px;
  color: rgb(112, 112, 112);
  background-color: #fff;
  cursor: pointer;
}
.buttonEditor:hover {
  color: rgb(202, 202, 202);
  background-color: rgb(41, 57, 71);
}

.title {
  color: #fff;
}
