.listItem {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}

.name {
  margin-right: 5px;
  font-size: 22px;
}

.number {
  margin-right: 10px;
  font-style: italic;
}

.buttonEditor {
  border: transparent;
  border-radius: 30px;
  height: 30px;
  width: 100px;
  color: rgb(112, 112, 112);
  background-color: #fff;
  cursor: pointer;
}
.buttonEditor:hover,
.button:focus {
  color: rgb(202, 202, 202);
  background-color: rgb(41, 57, 71);
}

.buttonEditor:active {
  transform: translateY(2px);
}
